.word {
  font-size: 3.5em;
  font-weight: 600;
}

.char {
  position: relative;
  animation: textAni 0.75s forwards;
  bottom: -1em;
  opacity: 0;
}

@keyframes textAni {
  0% {
    bottom: -0.2em;
    opacity: 1;
    color: rgb(235, 235, 101);
  }

  50% {
    bottom: 0.2em;
    color: #e87474;
  }

  100% {
    bottom: 0;
    opacity: 1;
    color: #ececec;
  }
}

/* .char:hover {
  cursor: pointer;
  color: salmon;
  animation: letterAni 1s ease-out;
} */

/* @keyframes letterAni {
  0% {
    transform: scale3d(1, 1, 1);
  }
  25% {
    transform: scale3d(1.1, 0.7, 1);
  }
  50% {
    transform: scale3d(0.7, 1.1, 1);
  }
  75% {
    transform: scale3d(1, 0.8, 1);
  }
  90% {
    transform: scale3d(0.9, 1.1, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
} */
