.wrap {
  width: 100%;
  height: 100vh;
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.titleBox {
  font-weight: 700;
  font-size: 4em;
  margin-bottom: 3%;
  overflow: hidden;
}

.title {
  transform: translateY(100%);
}

.onScrollTitle {
  transition: all 1s;
  transform: translateY(0);
}

.contactsWrap {
  overflow: hidden;
}

.contacts {
  font-weight: 700;
  font-size: 1.2em;
  transform: translateY(100%);
}

.contacts > span {
  font-weight: 400;
  font-size: 0.9em;
  margin-left: 10px;
}

.onScrollContacts {
  transition: all 1s;
  transition-delay: 0.35s;
  transform: translateY(0);
}

.infoBox {
  margin-top: 2%;
  text-align: center;
}

.infoWrap {
  overflow: hidden;
}

.info {
  transform: translateY(100%);
}

.onScrollInfo {
  transition: all 1s;
  transition-delay: 0.7s;
  transform: translateY(0);
}

.btn {
  all: unset;
  margin-top: 20px;
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.35s ease-in;
  opacity: 0;
}

.btn:hover {
  cursor: pointer;
  border: 1px solid #ececec;
  color: #ececec;
  background-color: rgba(231, 146, 136, 0.87);
}

.onScrollBtn {
  animation: btnAni 1s linear forwards;
  animation-delay: 1s;
}

@keyframes btnAni {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.smile {
  display: inline-block;
  animation: smileAni 2s ease-in infinite;
}

@keyframes smileAni {
  0% {
    transform: translateY(2%);
  }
  50% {
    transform: translateY(-8%);
  }
  100% {
    transform: translateY(2%);
  }
}

/* 반응형 */
@media (max-width: 700px) {
  .wrap {
    font-size: 0.8em;
  }
}
