@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;800&display=swap");

.myWork1 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ececec;
  position: relative;
}

.ctnBg {
  padding: 20px 0;
  width: 1400px;
  height: 650px;
  background-color: rgba(255, 255, 255, 0.048);
  backdrop-filter: blur(5px);
  box-shadow: 15px 15px 20px rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ctnWrap {
  border: 1px solid #ececec;
  padding: 20px;
  width: 90%;
  height: 99%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.subTitWrap {
  position: absolute;
  left: 40px;
  top: -42px;
  margin-bottom: 20px;
  display: flex;
  align-items: baseline;
  filter: drop-shadow(5px 5px 5px rgb(19, 19, 19));
}

.subTit {
  font-size: 2.6em;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.currNum {
  font-family: "Montserrat", sans-serif;
  font-size: 0.7em;
  font-weight: 300;
}

.subTxt {
  margin-left: 15px;
  font-size: 1em;
}

.pageNation {
  position: absolute;
  color: #ececec7c;
  font-size: 1.5em;
  font-weight: 400;
  top: 4%;
  right: 5%;
}

.currPage {
  color: #ececec;
}

.imgSlideWrap {
  position: relative;
}

.hoverMe {
  position: absolute;
  font-size: 1.3em;
  right: -120px;
  top: 50%;
  transform: rotate(90deg);
}

.hoverMe::after {
  position: absolute;
  bottom: -10px;
  left: -50%;
  content: "";
  height: 2px;
  width: 0;
  background-color: #ececec;
  animation: lineAni 2s ease-out infinite;
}

@keyframes lineAni {
  0% {
    width: 0;
  }
  100% {
    width: 220px;
  }
}

/* 반응형 */
@media (max-width: 1450px) {
  .ctnBg {
    width: 90%;
    height: 600px;
  }

  .hoverMe {
    right: -28%;
  }
}

@media (max-width: 1300px) {
  .ctnBg {
    width: 90%;
    height: 560px;
  }
}

@media (max-width: 1000px) {
  .ctnBg {
    width: 90%;
    height: 545px;
  }
}

@media (max-width: 890px) {
  .ctnBg {
    font-size: 0.9em;
    width: 90%;
    height: 90%;
  }

  .ctnWrap {
    padding: 0;
    flex-direction: column-reverse;
  }

  .hoverMe {
    right: -23%;
  }
}

@media (max-width: 700px) {
  .ctnBg {
    font-size: 0.45em;
    width: 90%;
    height: 90%;
  }

  .ctnWrap {
    border: none;
    padding: 0;
    flex-direction: column-reverse;
  }

  .hoverMe {
    display: none;
  }
}
