@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;800&display=swap");

.mywork1 {
  width: 100vw;
  height: 100vh;
  background-color: #5d9493;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ececec;
  position: relative;
}

.ctnBg {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.274);
  /* backdrop-filter: blur(5px); */
  box-shadow: 15px 15px 20px rgb(39, 39, 39);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ctnWrap {
  width: 72%;
  height: 68vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.subTitWrap {
  position: absolute;
  left: 40px;
  top: -33px;
  margin-bottom: 20px;
  display: flex;
  align-items: baseline;
  filter: drop-shadow(3px 3px 3px rgb(44, 44, 44));
}

.subTit {
  font-size: 2.6em;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.subTxt {
  margin-left: 15px;
  font-size: 1em;
}

.pageNation {
  position: absolute;
  color: #ececec7c;
  font-size: 2em;
  font-weight: 400;
  top: 4%;
  right: 5%;
}

.currPage {
  color: #ececec;
}

.imgSlideWrap {
  position: relative;
}

.hoverMe {
  position: absolute;
  font-size: 1.3em;
  right: -120px;
  top: 50%;
  transform: rotate(90deg);
}

.hoverMe::after {
  position: absolute;
  bottom: -10px;
  left: -50%;
  content: "";
  height: 2px;
  width: 0;
  background-color: #ececec;
  animation: lineAni 2s ease-out infinite;
}

@keyframes lineAni {
  0% {
    width: 0;
  }
  100% {
    width: 220px;
  }
}
