.header {
  width: 100vw;
  height: 100vh;
  background-color: rgb(32, 32, 32);
  color: #ececec;
}

.bgLayer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 250px;
  margin-right: 5%;
  opacity: 0;
  animation: logoAni ease-in-out 2s infinite, opacity 2s ease-in 0.5s forwards;
}

.titleBox {
  font-family: "Noto Sans JP", sans-serif;
  width: 600px;
  /* filter: drop-shadow(4px 4px 1px #f29c79); */
}

@keyframes logoAni {
  0% {
  }
  50% {
    transform: translateY(-5%);
  }
  100% {
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bot {
  margin-top: 20vh;
  position: absolute;
  bottom: 20%;
}

.scrollDown::after {
  position: absolute;
  content: "";
  left: 50%;
  top: 5vh;
  width: 2px;
  height: 13vh;
  background-color: #ececec;
  animation: lineAni ease-out 1.2s infinite;
}

@keyframes lineAni {
  0% {
    height: 6vh;
  }
  100% {
    height: 13vh;
  }
}
