.imgSlide {
  width: 600px;
  height: 58vh;
  box-shadow: 10px 10px 15px rgb(17, 17, 17);
  position: relative;
}

.imgWrap {
  width: 100%;
  height: 58vh;
  overflow: hidden;
}

.imgWrap:hover {
  cursor: pointer;
}

.imgWrap:hover .img1 {
  transform: translateY(-71%);
}
.imgWrap:hover .img2 {
  transform: translateY(-68%);
}
.imgWrap:hover .img3 {
  transform: translateY(-53%);
}

.img1,
.img2,
.img3 {
  width: 100%;
  transition: transform 2s ease-in-out;
}
