.menuList {
  position: fixed;
  top: 0;
  left: 0;
  width: 450px;
  height: 100%;
  background-color: rgba(231, 146, 136, 0.87);
  z-index: 10;
  animation: circleFill 1s ease forwards;
  display: flex;
  justify-content: center;
}

.contactWrap {
  position: absolute;
  bottom: 7%;
  right: 9%;
  font-size: 1.1em;
}

.contactWrap > ul > li {
  width: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contactWrap > ul > li > p {
  margin-left: 2%;
}

.list {
  margin-top: 40%;
}

.listItems {
  font-size: 2.3em;
  font-weight: bold;
  margin-bottom: 20px;
  color: rgb(36, 36, 36);
}

.listItems > p {
  display: inline;
  position: relative;
}

.listItems > p::after {
  position: absolute;
  left: 0;
  bottom: 3px;
  content: "";
  width: 0;
  height: 10px;
  border-radius: 5px;
  background-color: rgba(221, 168, 161, 0.726);
  transition: all 0.5s;
}

.listItems:hover {
  cursor: pointer;
}

.listItems > p:hover::after {
  width: 100%;
}

@keyframes circleFill {
  0% {
    clip-path: circle(0% at 0 0);
  }
  100% {
    clip-path: circle(100%);
  }
}

/* 반응형 */
@media (max-width: 1000px) {
  .menuList {
    width: 40%;
    font-size: 0.7em;
  }
}

@media (max-width: 700px) {
  .menuList {
    width: 100%;
    font-size: 0.7em;
  }
}
