.menuList {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(231, 146, 136);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  animation: circleFill 1s ease forwards;
}

.list {
  padding: 20px 40px;
  border: 1px solid black;
}

.listItems {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 20px;
  color: rgb(36, 36, 36);
  position: relative;
}

.listItems::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 0;
  height: 4px;
  background-color: black;
  transition: all 0.5s;
}

.listItems:hover {
  cursor: pointer;
}

.listItems:hover::after {
  width: 100%;
}

.closeBtn {
  position: absolute;
  top: 5%;
  right: 5%;
  transition: all 0.7s;
}

.closeBtn:hover {
  cursor: pointer;
  transform: rotate(180deg);
}

@keyframes circleFill {
  0% {
    clip-path: circle(0% at 0 0);
  }
  100% {
    clip-path: circle(100%);
  }
}
