.txtBoxWrap {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(3px 3px 3px rgb(19, 19, 19));
}

.txtBox {
  width: 80%;
  margin-left: -5%;
  padding: 20px 40px;
  position: relative;
  font-size: 0.85em;
}

.overview {
  margin-bottom: 30px;
  font-size: 1.4em;
}

.listTit {
  font-size: 1.2em;
  font-weight: 600;
}

.list {
  font-size: 1.1em;
  font-weight: 100;
}

.subInfoWrap {
  color: #ececec;
  font-size: 1.1em;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.subInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.num {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.1em;
}

.funcTit {
  font-size: 1.2em;
  font-weight: bold;
}

.func {
  margin-top: 5px;
  font-size: 1em;
  font-weight: 100;
}

.btnsWrap {
  margin-top: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnsWrap2 {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btns {
  all: unset;
  font-weight: 500;
  border-radius: 5px;
  margin-right: 15px;
  color: #ececec;
  border: 1px outset #ececec;
  width: 200px;
  height: 50px;
  transition: all 0.15s ease-in;
}
.btns > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.btns:hover {
  cursor: pointer;
  background-color: #ececec41;
}

/* 반응형 */
@media (max-width: 1450px) {
  .txtBoxWrap {
    font-size: 0.9em;
  }
  .txtBox {
    width: 90%;
  }
}

@media (max-width: 1300px) {
  .txtBoxWrap {
    margin-left: -5%;
    font-size: 0.85em;
  }
}

@media (max-width: 1000px) {
  .txtBoxWrap {
    margin-left: -5%;
    font-size: 0.75em;
  }
}

@media (max-width: 890px) {
  .txtBoxWrap {
    margin: 0;
    font-size: 0.75em;
    width: 100%;
    height: 40%;
    text-align: center;
  }

  .txtBox {
    margin: 0;
    padding: 0;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .overview {
    width: 50%;
    margin: 0;
  }

  .subInfoWrap {
    width: 48%;
  }

  .info {
    width: 50%;
    display: none;
  }

  .funcWrap {
    width: 50%;
    margin-bottom: 10%;
  }

  .btnsWrap {
    margin: 0;
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .btnsWrap2 {
    margin: 0;
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .btns {
    width: 100px;
    margin-bottom: 7%;
  }
}

@media (max-width: 700px) {
  .txtBoxWrap {
    margin-top: 20px;
    font-size: 1.7em;
    width: 100%;
    height: 40%;
  }

  .txtBox {
    width: 90%;
  }

  .overview {
    width: 100%;
    margin: 0;
  }

  .subInfoWrap {
    width: 80%;
  }

  .info {
    width: 100%;
    display: none;
  }

  .funcWrap {
    width: 100%;
    margin-bottom: 0;
  }

  .btnsContainer {
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
  }

  .btnsWrap {
    width: 50%;
    flex-direction: row;
  }

  .btnsWrap2 {
    width: 50%;
    flex-direction: row;
  }

  .btns {
    margin: 0;
    margin-right: 8px;
    margin-top: 10px;
    width: 45%;
    height: 35px;
  }
}

@media (max-width: 578px) {
  .btns {
    width: 75px;
  }
}

@media (max-width: 535px) {
  .subInfoWrap {
    display: none;
  }

  .btnsWrap {
  }

  .btnsWrap2 {
  }

  .funcWrap {
    margin-top: 20px;
    width: 100%;
  }

  .btns {
    width: 100%;
    margin-bottom: 5%;
  }
}
